# .travis.yml
  
before_script:
- "mysql -uroot -e \"DELETE FROM mysql.db WHERE Db = 'test\\_%';\""
- "mysql -uroot -e \"DELETE FROM mysql.user WHERE Host = 'localhost' AND User = '';\""
- "mysql -uroot -e \"FLUSH PRIVILEGES;\""
- "mysql -uroot -e \"CREATE DATABASE IF NOT EXISTS bakerdb_test DEFAULT CHARACTER SET utf8 COLLATE utf8_unicode_ci;\""
- "mysql -uroot -e \"GRANT ALL PRIVILEGES ON bakerdb_test.* TO 'bakerdb_testuser'@'localhost' IDENTIFIED BY 'b@k3rp@zz';\""
# Some extras for Travis-CI only
- "mysql -uroot -e \"DELETE FROM mysql.user WHERE User = 'travis';\""
- "mysql -uroot -e \"FLUSH PRIVILEGES;\""  

  
language: java
script: "mvn clean -Pjetty.integration verify"