# .travis.yml
  
before_script:
- "mysql -uroot -e \"DELETE FROM mysql.db WHERE Db = 'test\\_%';\""
- "mysql -uroot -e \"DELETE FROM mysql.user WHERE Host = 'localhost' AND User = '';\""
- "mysql -uroot -e \"FLUSH PRIVILEGES;\""
- "mysql -uroot -e \"CREATE DATABASE IF NOT EXISTS forgestoredb_test DEFAULT CHARACTER SET utf8 COLLATE utf8_unicode_ci;\""
- "mysql -uroot -e \"GRANT ALL PRIVILEGES ON forgestoredb_test.* TO 'fsdb_testuser'@'localhost' IDENTIFIED BY 'forgestorerp@zz';\""
- "mysql -uroot -e \"CREATE DATABASE IF NOT EXISTS forgestoredb DEFAULT CHARACTER SET utf8 COLLATE utf8_unicode_ci;\""
- "mysql -uroot -e \"GRANT ALL PRIVILEGES ON forgestoredb.* TO 'forgestoredbuser'@'localhost' IDENTIFIED BY 'forgestorerp@zz';\""
# Some extras for Travis-CI only
- "mysql -uroot -e \"DELETE FROM mysql.user WHERE User = 'travis';\""
- "mysql -uroot -e \"FLUSH PRIVILEGES;\""  

  
language: java
script: "mvn clean -Pjetty.integration verify"